<!DOCTYPE html>
<html>
  <% include head.html %>
  <body>
    <% include title.html %>
    <div class="jumbotron masthead">
      <div class="container">
        <h1>系统管理</h1>


      </div>
    </div>
  </body>
</html>
